.red{
    background-color: red;
    color: white;
}
.green {
    background-color: green;
    color: white;
}
.yellow {
    background-color: yellow;
    color: black;
}
.orange {
    background-color: orange;
    color: black;
}
.purple {
    background-color: purple;
    color: white;
}
#recentSearches {
    list-style-type: none;
}